body {
    background-color: lightgrey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grid {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 500px;
    width: 500px;

    margin: 1rem;
    border: 2px solid black;
    background-color: white;
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;

    /* height: auto; */
    /* width: 1rem; */
}

.grid-square {
    flex: 1;
    /* text-align: center; */
    
    /* margin: auto; */
    /* height: auto; */
    /* width: 2rem; */

}

.hovered {
    background-color: darkgrey;
    /* transition: 0s; */
}